:root{
  --darker: #1b1717;
  /* https://colorhunt.co/palette/273305 */
  --dark: #393e46;
  --blue: #00adb5;
  --tint: #aad8d3;
  --white: #eeeeee;
/* https://colorhunt.co/palette/273897 */
  --light: #eeebdd;
  --red: #ce1212;
  --red-intense: #810000;
}

.App {
  text-align: center;
}

/* bootstrap styles */

#boot-nav{
  padding: 1em 3em;
  background-color: var(--darker);
}


/* class override config */

.nav-link{
  display: flex !important;
  align-items: center !important;
  font-weight: 500 !important;
}

.nav-link .btn{
  background-color: var(--blue);
  border: none;
  font-weight: 500 !important;
}
